@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: #F3F5F9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}